<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Event</title>
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/csshake.min.css" />
        <link rel="stylesheet" type="text/css" href="../css/index.css" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="row" style="background-color: lightgrey;min-height: 100vh;">
                <div class="col-md-12">
                    
                    <div class="row" style="background-color: lightgrey;min-height: 5vh;line-height: 5vh;">
                        <div class="col-md-12">
                            <a href="#"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Event Name</h3>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>